
W6Torchdata/cifar-10-batches-py/data_batch_3
W6Torchdata/cifar-10-batches-py/readme.html
W6Torchdata/cifar-10-batches-py/test_batch
W6Torchdata/cifar-10-batches-py/data_batch_5
W6Torchdata/cifar-10-batches-py/data_batch_4
W6Torchdata/cifar-10-batches-py/data_batch_2
W6Torchdata/cifar-10-batches-py/data_batch_1
W6Torchdata/cifar-10-python.tar.gz
W6Torchdata/cifar-10-batches-py/batches.meta
W6课件抄/mnist.npz
W6课件抄/x_train.csv
W6课件抄/x_test.csv
W6课件抄/y_test.csv
W6课件抄/y_train.csv
